<hr>
<h2>About the Author</h2>
<p>I'm a freelance data scientist (and physicist) with 8+ years of experience in the field. If there's anything I can do to help, please <a href="/workwithme">contact me</a>! If you'd like to be notified when I publish more articles like this one, please enter your email below.</p>
<form action="https://formspree.io/f/xayrvgjj" method="POST" class="form" id="post-subscribe">
    <input type="email" name="_replyto" class="form-control input-lg" placeholder="Email" title="Email" required="required" style="margin-bottom: 1em;">
    <button type="submit" class="btn btn-lg btn-primary">Subscribe</button>
</form>
